name: IaC & Backend CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=iac/terraform init

      - name: Terraform Validate
        run: terraform -chdir=iac/terraform validate

      - name: Terraform Plan
        run: terraform -chdir=iac/terraform plan

